body {
  background: EFE6E0;
  text-align: center;
}

.background {
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

h2 {
  font-weight: lighter;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: darkorchid;
  background: #fbac00;
  padding: 10px 15px;
  border-radius: 4px;
  margin-top: 20px;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation {
  display: flex;
  justify-content: space-evenly;
}

.email-link {
  background: none;
  color: black;
  opacity: 0.6;
}

.description {
  max-width: 500px;
  display: block;
  margin: 0 auto;
  text-align: center;
}
